
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;

}
.header{
    height: 54px;
    position: fixed;
    width: 100%;
}
.header a{
    display: flex;
    align-items: center;
    justify-content: center;
    color:rgba(244,224,34,255);
    background-color:rgba(24,34,75,255);
    height: 54px;
    font-family: Poppins;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;

}
.header a:hover{
    background:rgb(196, 183, 4);
    color:rgba(24,34,75,255);
}
.header ul{
    list-style: none;
    display: flex;
}
.header ul li{
    position: relative;
    width: 100%;
    text-align: center;
}

.content{
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(./hotel-background-5.jpg);
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.content .outer .name h1{
    text-transform: uppercase;
    color: #fbff00;
    font-size: 75px;
    font-family: initial;
    letter-spacing: 3px;
    text-shadow: 0 0 11px rgb(255 255 255), 0 0 20px #000000;
    margin-bottom: 20px;
    background:transparent;
    position: relative;
    animation: text 3s 1;

}
@keyframes text {
    0%{
        color: rgb(255, 255, 255);
        margin-bottom: -85px;
        margin-top: -40px;
    }
    85%{
        letter-spacing: 10px;
        margin-bottom: 0px;
        margin-top:0px ;
    }
    20%{
        margin-bottom: 0px;
        margin-top: 0px;
    }
    

}



.content .outer .name h3{
    text-align: center;
    font-size: xx-large;
    font-family: initial;
    color: #ffffff;
    text-shadow: 0 0 11px rgb(0 0 0), 0 0 20px #030308;
}




.content .outer .name h4{
    text-transform: uppercase;
    color: whitesmoke;
    font-size: 20px;
    font-family: cursive;
    text-align: center;
    letter-spacing: 10px;
    padding-top: 10px
}
.content .outer .name h2{
    text-transform: uppercase;
    color: white;
    font-size: 60px;
    font-family: initial;
    text-align: center;
}
.content .outer button a{
    padding: 15px;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
    background: rgba(24,34,75,255);
    color: rgb(255 239 13);
    border: none;
    border-radius: 0px;
    text-decoration: none;
}
.content .outer .button {
    padding: 25px;

}
.content .outer .button button a:hover{
    background-color:rgb(255 239 13) ;
    color:rgba(24,34,75,255) ;
    letter-spacing: 3px;
    text-shadow: 0 0 11px rgb(255 255 255), 0 0 20px #000000;
    

}





.header ul li img{
    height: 54px;
}
.footer{
    height: 100px;
    width: 100%;
}

.about{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
}
.about .intro{
    height: 95px;
    padding: 25px;
}
.about .intro h3 span{
    font-family: 'Raleway',sans-serif;
    font-size: 25px;
    font-weight: 100;
}

.about .intro h1{
    font-size: xx-large;
}
.about .p .p1{
    padding: 5px;
}
.about .p{
    width: 80%;
    font-family: system-ui;
    font-size: 15px;
    font-weight: 200;
}
.specials .discription{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 80% ;
    margin: 0rem auto;
}
.specials .discription img{
    height: 260px;
   

}
.specials .discription .text h2{
    font-family: sans-serif;
    font-weight: 300;

}

.specials .discription .text h3{
    font-family: sans-serif;
    font-weight: 100;

}


.specials .discription p{
    margin-right: 15px;
    text-align: justify;
    padding: 20px;
    font-family: 'Raleway',sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
}

.specials .discription-2{
    display: flex;
    justify-content: space-between;
    padding: 40px;
    width: 60% ;
    margin: 10rem auto;
}
.specials .discription-2 img{
    height: 250px;
   

}
.specials .discription-2 .text-2 h2{
    font-family: sans-serif;
    font-weight: 300;
}

.specials .discription-2 .text-2 h3{
    font-family: sans-serif;
    font-weight: 100;

}    
.specials .discription-2 p{
    margin-right: 15px;

}

.specials .discription-3{
    display: flex;
    justify-content: space-between;
    padding: 40px;
    width: 60% ;
    margin: 10rem auto;
}
.specials .discription-3 img{
    height: 250px;
   

}
.specials .discription-3 .text-3 h2{
    font-family: sans-serif;
    font-weight: 300;
}

.specials .discription-3 .text-3 h3{
    font-family: sans-serif;
    font-weight: 100;

}    
.specials .discription-3 p{
    margin-right: 15px;

}



@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');



.header-2 {
    text-align: center;
    padding-top: 100px;
    margin-bottom: 300px;
    font-size: 35px;
}

.header-2 h2 {
    color: #f0525f;
}

.header-2 span {
    color: #eaa03f;
}

/* The footer is fixed to the bottom of the page */

footer {
    position: fixed;
    bottom: 0;
}

@media (max-height:800px) {
    footer {
        position: static;
    }

}

.footer-distributed {
    background-color:  rgba(24,34,75,255);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.footer-distributed h3 span {
    color: #e0ac1c;
}

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color:white;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #e0ac1c;
    text-decoration: none;
    ;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
    background-color: #3F71EA;
}

.footer-links a:hover {
    color: #3F71EA;
}

@media (max-width: 880px) {
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}       
        










 /*Branches page CSSt begin */
 .slider-wraper{
    position: relative;
    max-width: 48rem;
    margin: auto;
    height: 100vh;
 }
 .slider{
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    
 }
 .slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
 }
.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 0.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.slider-nav a{
    width:0.5rem ;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #ffffff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}
.slider-nav a:hover{
    opacity: 1;
}

.container-hotels{
    display: flex;
    justify-content: space-around;
    padding-top: 75px;
    flex-wrap: wrap;
}

.our-hotels{
    background-color: aliceblue;
}
.hotel{
    width: 470px;
    height: 585px;
    margin: 15px;
    transition: 0.2s ;
    background-color:rgb(235 237 255);
    border-radius: 10px;
    border: #000000;
} 
.hotel-img img{
    width: 100%;
    border-radius:10px 10px 10px 10px ;
    
}
.hotel-body h2{
    text-align: center;
    font-family: sans-serif;
    font-style: italic;
    padding: 5px;
}
.hotel-body p{
    text-align: justify;
    margin-bottom: 10px;
    padding: 10px;
    font-family: system-ui;
    
}
.hotel-btn{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.hotel-btn button a{
    text-decoration: none;
    color: #ffffff;
    transition:0.2s ;
    width: 120px;
    background-color: #000000;
    color: #ffffff;
    border-radius: 15px;
    border: 2px solid black;
    padding: 6px;
    font-size: 17px;
    cursor: pointer;
    margin-bottom: 10px;
    
}
.hotel-btn button a:hover{
    background-color: aliceblue;
    color:  black;
    border: 2px solid black;
    font-weight: bold;


}
.hotel:hover{
    box-shadow: 3.9px 7.8px 7.8px hsl(0deg 0% 0% / 0.38);
    border-radius: 10px;
}

.header-branches h2{
    padding: 100px;
    font-family: sans-serif;
    font-weight: 300;
    background-color: antiquewhite;
    font-size: medium;
    letter-spacing: 5px;
}
